/*#img45
{
	
	padding-left: 200px;
}*/
body {
	background-color: #FFC1C1;
}
#img2
{
	
	padding-left: 200px;
}
#img3
{
	
	padding-left: 102px;
}
#img4
{
	
	padding-left: 200px;
}
#img5
{
	
	padding-left: 96px;
}
#img7
{
	
	padding-left: 168px;
}
#img8
{
	padding-left: 32px ;
}
#img9
{
	padding-left: 32px ;
}
#img10
{
	padding-left: 32px ;
}
#img11
{
	padding-left: 167px ;
}
#img12
{
	padding-left: 96px ;
}
#img14
{
	
	padding-left: 132px;
}
#img15
{
	
	padding-left: 100px;
}
#img16
{
	
	padding-left: 100px;
}
#img17	
{
	padding-left: 132px ;
}
#img18
{
	padding-left: 96px ;
}
#img20
{
	padding-left: 164px ;
}
#img21
{
	padding-left: 167px ;
}
#img22
{
	padding-left: 168px ;
}
#img23
{
	padding-left: 96px ;
}
#img25
{
	padding-left: 196px ;
}
#img26
{
	padding-left: 100px ;
}
#img27
{
	padding-left: 204px ;
}
#img28
{
	padding-left: 96px ;
}
#img30
{
	padding-left: 232px ;
}
#img31
{
	padding-left: 32px ;
}
#img32
{
	padding-left: 234px ;
}
#img27
{
	padding-left: 204px ;
}
#img28
{
	padding-left: 96px ;
}
#img30
{
	padding-left: 232px ;
}
#img31
{
	padding-left: 32px ;
}
#img32
{
	padding-left: 265px ;
}
#img33
{
	padding-left: 32px ;
}
#img35
{
	padding-left: 268px ;
}
#img36
{
	padding-left: 332px ;
}
/*#img37
{
	padding-left: 320px ;
}*/
#img50
{
	
	padding-left: 10px;
}
#img42
{
	
	padding-left: 30px;
}
#img45
{
	
	padding-left: 105px;
}
#img46
{
	
	padding-left: 105px;
}
#img47
{
	
	padding-left: 105px;
}
#img48
{
	
	padding-left: 105px;
}
#img40
{
	
	padding-left: 40px;
}
